.container__nav {
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31adeb;
}

.container__ul {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}