/* NotFound.css */
.not_found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .not_found h1 {
    font-size: 3em;
    margin-bottom: 1em;
  }
  
  .not_found p {
    font-size: 1.5em;
  }